/* Navbar Styles */
.navbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color: #0D1117;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: "Poppins", sans-serif;
    z-index: 1000;
  }
  
  /* Navbar container */
  .nav-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo */
  .nav-logo {
    display: "flex"; 
    /* height: "2vh"; */
    /* width: 20px; */
    padding: 0px;
    margin: 0px;
  }

  .nav-logo img{
    width: 125px;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #00D8FF;
  }
  
  /* Mobile Menu Button */
  .nav-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .nav-toggle {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #0D1117;
      flex-direction: column;
      align-items: center;
      /* padding: 10px 0; */
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  }
  